.Form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 122, 99);
    text-align: left;
    border: 0.2rem solid rgb(251, 110, 185);
    border-radius: 0.3rem;
    padding: 1rem;
  }
  
  .Form > input,
  .Form > select {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 122, 99);
    padding: 0.2rem;
    border: 0.2rem solid rgb(251, 110, 185);
    border-radius: 0.3rem;
    outline: none;
  }
  
  .Form > button {
    grid-column: span 2;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.2rem;
    background-color: rgb(255, 122, 99);
    border: 0.2rem solid rgb(255, 122, 99);
    border-radius: 0.3rem;
  }